.section.section--eighth
    .section__content.section-request
            .section-request__container
                .section-request__title TRANSFORM&ensp;
                    br
                    | YOUR&ensp;
                    .text-red BODY&ensp;
                    | AND&ensp;
                    br.mobile-hidden
                    | BECOME&ensp;
                    .text-red FIT
                    | &ensp;AND&ensp;
                    .text-red HEALTHY&ensp;
                    | AGAIN
                .section-request__addition START YOUR&nbsp;
                    .text-red.text-bold TRIAL&nbsp;
                    | SESSION FOR&nbsp;
                    br.mobile-hidden
                    .text-red.text-bold KD 7&nbsp;
                    | ONLY, INSTEAD OF KD 25
                a(href="#").section-request__link Start Now!
                img.section-request__logo.pc-hidden(src="img/fit-logo.png")
