.section.section--fifth
    .section__content.section-pluses
        .section__title.section-pluses__title WHAT YOU&ensp;
            br.pc-hidden
            | GET WITH
            br.pc-hidden
            span.section-pluses__red-text.section-pluses__text-margin NEXFIT
            | EMS
            br
            span.section-pluses__red-text PERSONAL
                br.pc-hidden
                | &ensp;FITNESS&ensp;
                br.pc-hidden
                | TRAINING?
        .section__devider.section-pluses__devider
        .pluses
            .pluses__images
                img(src="//kuwait.nexfit.com/img/ems-computer.png").pluses__first-image.mobile-hidden
                img(src="//kuwait.nexfit.com/img/ems-training.png").pluses__second-image.pc-hidden
            .pluses__container.pluses__pc-container
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-first Certified
                        br
                        | Personal Trainer
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-sixth Nutrition
                        br
                        | Plan
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-seventh Personalized Training Plan

            .pluses__container.pluses__pc-container
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-fourth Multiple EMS Sessions per Week
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-fifth Full Body Evaluation

            .pluses__container.pluses__mobile-container
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-first Certified Personal Trainer
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-seventh Personalized Training Plan
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-fifth Full Body Evaluation
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-sixth Nutrition Plan
                .plus
                    img.plus__image(src="img/arrow.png")
                    .plus__title.plus__title-fourth Multiple EMS
                        br
                        | Sessions per Week
