.section.section--second
    .section__content.section-transform
        .section__title.section-transform__title.section__title--white TO LIVE
            br.pc-hidden
            span.indent &ensp;
            | HEALTHY
            br.pc-hidden
            span.indent &ensp;
            | IS A CHOICE
        .section__devider.section-transform__devider.section__devider--white
        .section-transform__images
            .section-transform__image-container
                img.section-transform__image(src="img/Before-After_1.png")
            .section-transform__image-container
                img.section-transform__image(src="img/Before-After_2.png")
            .section-transform__image-container
                img.section-transform__image(src="img/Before-After_3.png")
            .section-transform__image-container
                img.section-transform__image(src="img/Before-After_4.png")

        a.section-transform__link(id="link_make_active")
            .section-transform__cta YOU COULD BE NEXT
        .section-transform__motivation TRANSFORM YOURSELF
