.section.section--sixth
    .section__content.section-feature
        .section__title.section-feature__title WHAT ARE BENEFITS FOR
            br.pc-hidden
            span.section-feature__red-text ME
            | FROM&ensp;
            br.mobile-hidden
            | EMS&ensp;
            br.pc-hidden
            | PERSONAL FITNESS TRAINING?
        .section__devider.section-feature__devider
        .section-feature__container
            .feature
                img.feature__image(src="img/training_1.png")
                .feature__container.feature__first-container
                    .feature__title.feature__body BODY
                    .feature__description.feature__description-body-1 NEXFIT EMS gets your body in shape quick and without any health risk.
                    .feature__description.feature__description-body-2.feature__description--v2 A study by the Cologne Sports University confirms that EMS whole-body training has a particularly positive effect on waist and stomach.
                    .feature__description.feature__description-body-3.feature__description-body This way you can reach a sustainable body shaping in a short time by high-intensity workout. Therefore, you loose weight and burn calories faster.
            .feature
                img.feature__image(src="img/training_2.png")
                .feature__container.feature__second-container
                    .feature__title.feature__health HEALTH
                    .feature__description.feature__description-health-1 Do you have a back, neck or joints pain? Well, then EMS training by NEXFIT is for YOU. Our Fitness Training stimulates deep lying muscles and thus ideally train your entire back muscles. Strong back muscles can prevent from back pain.
                    .feature__description.feature__description-health-2.feature__description--v2 A study by the University of Munich shows the following results: 80% back pain reduction after 2 months with 2 training sessions per week.
                    .feature__description.feature__description-health-3.feature__description-health EMS also helps you with blood circulation, diabetes and osteoporosis.
            .feature
                img.feature__image(src="img/training_3.png")
                .feature__container.feature__third-container
                    .feature__title.feature__lifestyle LIFESTYLE
                    .feature__description.feature__description-lifestyle-1 EMS is the lifestyle that only healthy and fit people choose to have. You get your body fit, healthy improved, and energized quicker than ever before.
                    .feature__description.feature__description-lifestyle-2.feature__description--v2 Our EMS fitness training combats cellulite, stimulates collagen production and effectively eliminates annoying fat pads on hips.
                    .feature__description.feature__description-lifestyle-3.feature__description-lifestyle NEXFIT EMS training gives your body a short break from a stressful everyday life.
