.section.section--third
    .section__content.section-helping
        .section__title.section-helping__title NEXFIT EMS PERSONAL FITNESS
            br.mobile-hidden
            | &ensp;TRAINING WILL HELP YOU WITH
        .section__devider.section-helping__devider
        .section-helping__images
            .section-helping__image-container
                img.section-helping__image(src="img/running.png")
                .section-helping__alt.section-helping__weight-loss Weight loss
            .section-helping__image-container
                img.section-helping__image(src="img/muscles.png")
                .section-helping__alt.section-helping__build-muscles Build muscles
            .section-helping__image-container
                img.section-helping__image(src="img/diabetes.png")
                .section-helping__alt.section-helping__diabetes Diabetes
            .section-helping__image-container
                img.section-helping__image(src="img/Circulation.png")
                .section-helping__alt.section-helping__blood-circulation Blood Circulation
            .section-helping__image-container
                img.section-helping__image(src="img/back_pain.png")
                .section-helping__alt.section-helping__back-pain Back Pain
            .section-helping__image-container
                img.section-helping__image(src="img/osteoporosis.png")
                .section-helping__alt.section-helping__osteoporosis Osteoporosis
