$fontsPath: '//kuwait.nexfit.com/fonts';

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('#{$fontsPath}/bebasneue/bebasneuethin.woff2') format('woff2'), url('#{$fontsPath}/bebasneue/bebasneuethin.woff') format('woff'), url('#{$fontsPath}/bebasneue/bebasneuethin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('#{$fontsPath}/bebasneue/bebasneuelight.woff2') format('woff2'), url('#{$fontsPath}/bebasneue/bebasneuelight.woff') format('woff'), url('#{$fontsPath}/bebasneue/bebasneuelight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Book'), local('BebasNeueBook'), url('#{$fontsPath}/bebasneue/bebasneuebook.woff2') format('woff2'), url('#{$fontsPath}/bebasneue/bebasneuebook.woff') format('woff'), url('#{$fontsPath}/bebasneue/bebasneuebook.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('#{$fontsPath}/bebasneue/bebasneueregular.woff2') format('woff2'), url('#{$fontsPath}/bebasneue/bebasneueregular.woff') format('woff'), url('#{$fontsPath}/bebasneue/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('#{$fontsPath}/bebasneue/bebasneuebold.woff2') format('woff2'), url('#{$fontsPath}/bebasneue/bebasneuebold.woff') format('woff'), url('#{$fontsPath}/bebasneue/bebasneuebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lintel;
  src: url("#{$fontsPath}/lintel/lintel.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lintel;
  src: url("#{$fontsPath}/lintel/lintelbold.ttf");
  font-weight: bold;
  font-style: normal;
}
//
//@font-face {
//  font-family: lintel;
//  src: url("#{$fontsPath}/lintel/lintel Bold Italic.ttf");
//  font-weight: bold;
//  font-style: italic;
//}

@font-face {
  font-family: Lintel;
  src: url("#{$fontsPath}/lintel/lintelextrabold.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Micra';
  src: url('#{$fontsPath}/micra/Micra-Bold.eot');
  src: local('Micra Bold'), local('Micra-Bold'),
  url('#{$fontsPath}/micra/Micra-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsPath}/micra/Micra-Bold.woff') format('woff'),
  url('#{$fontsPath}/micra/Micra-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Micra';
  src: url('#{$fontsPath}/micra/Micra.eot');
  src: local('Micra'),
  url('#{$fontsPath}/micra/Micra.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsPath}/micra/Micra.woff') format('woff'),
  url('#{$fontsPath}/micra/Micra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alergia Bold Italic';
  src: url("#{$fontsPath}/alergia/AlergiaNormalBoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alergia Bold';
  src: url("#{$fontsPath}/alergia/AlergiaNormalBold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alergia Italic';
  src: url("#{$fontsPath}/alergia/AlergiaNormalItalic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alergia Regular';
  src: url("#{$fontsPath}/alergia/AlergiaNormalRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dubai';
  src: local('Dubai Bold'), local('Dubai-Bold'), url('#{$fontsPath}/dubai/DubaiW23-Bold.eot') format('eot'), url('#{$fontsPath}/dubai/DubaiW23-Bold.woff2') format('woff2'), url('#{$fontsPath}/dubai/DubaiW23-Bold.woff') format('woff'), url('#{$fontsPath}/dubai/DubaiW23-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Dubai';
  src: local('Dubai Light'), local('Dubai-Light'), url('#{$fontsPath}/dubai/DubaiW23-Light.eot') format('eot'), url('#{$fontsPath}/dubai/DubaiW23-Light.woff2') format('woff2'), url('#{$fontsPath}/dubai/DubaiW23-Light.woff') format('woff'), url('#{$fontsPath}/dubai/DubaiW23-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Dubai';
  src: local('Dubai Regular'), local('Dubai-Regular'), url('#{$fontsPath}/dubai/DubaiW23-Regular.eot') format('eot'), url('#{$fontsPath}/dubai/DubaiW23-Regular.woff2') format('woff2'), url('#{$fontsPath}/dubai/DubaiW23-Regular.woff') format('woff'), url('#{$fontsPath}/dubai/DubaiW23-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Dubai';
  src: local('Dubai Medium'), local('Dubai-Medium'), url('#{$fontsPath}/dubai/DubaiW23-Medium.eot') format('eot'), url('#{$fontsPath}/dubai/DubaiW23-Medium.woff2') format('woff2'), url('#{$fontsPath}/dubai/DubaiW23-Medium.woff') format('woff'), url('#{$fontsPath}/dubai/DubaiW23-Medium.ttf') format('truetype');
  font-style: normal;
}
